<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Register | Kubo</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h2>Create your Kubo's account!</h2>
    <form action="/form_register_user" method="post">
        <label>Say your pretty name to us:</label> <br><br>
        <input type="user_name" name="user_name"> </input> <br><br>
        <label>Enter your best email:</label> <br><br>
        <input type="user_mail" name="user_mail"> </input> <br><br>
        <label>Give us a really hard password:</label> <br><br>
        <input type="user_password" name="user_password"> </input> <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>